manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.25.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!>=20.10.0'
}

params {
   global {
      project_name = 'sle'
      outdir = 'out'
      seed = 777
      species = 'human'
      genome {
         assembly = 'hg38'
      }
   }
   misc {
      test {
         enabled = false
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.4.0'
      publish {
         compressionLevel = 6
         annotateWithBatchVariableName = false
         mode = 'link'
      }
   }
   sc {
      file_converter {
         off = 'h5ad'
         tagCellWithSampleId = true
         remove10xGEMWell = false
         useFilteredMatrix = true
         makeVarIndexUnique = false
         iff = 'loom'
      }
      scenic {
         container = 'aertslab/pyscenic:0.10.4'
         scenicoutdir = 'out/scenic/'
         filteredLoom = '/mnt/Citosina/amedina/ssalazar/meta/combined/regulons/reduced.counts.loom'
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         skipReports = false
         grn {
            algorithm = 'grnboost2'
            tfs = '/mnt/Citosina/amedina/ssalazar/meta/combined/regulons/allTFs_hg38.txt'
         }
         cistarget {
            adj = 'adj.tsv'
            type = ''
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            all_modules = false
            motifsDb = '/mnt/Citosina/amedina/ssalazar/meta/combined/regulons/resources/hg38__refseq-r80__*feather'
            motifsAnnotation = '/mnt/Citosina/amedina/ssalazar/meta/combined/regulons/resources/motifs-v9-nr.hgnc-m0.001-o0.0.tbl'
            tracksDb = '/mnt/Citosina/amedina/ssalazar/meta/combined/regulons/resources/encode_20190621__ChIP_seq_transcription_factor.hg38__refseq-r80__*feather'
            tracksAnnotation = '/mnt/Citosina/amedina/ssalazar/meta/combined/regulons/resources/encode_project_20190621__ChIP-seq_transcription_factor.homo_sapiens.hg38.bigwig_signal_pvalue.track_to_tf_in_motif_to_tf_format.tsv'
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_genes_regulon = 5
            min_regulon_gene_occurrence = 2
         }
         numRuns = 100
         aggregate_features {
            use_chunking = true
            output_format = 'csv'
            compression = 'gzip'
         }
      }
      scope {
         genome = ''
         tree {
            level_1 = ''
            level_2 = ''
            level_3 = ''
         }
      }
   }
   data {
      loom {
         file_paths = '/mnt/Citosina/amedina/ssalazar/meta/combined/regulons/reduced.counts.loom'
         suffix = '.loom'
      }
   }
}

process {
   executor = 'local'
   withLabel:'compute_resources__.*|compute_resources__default' {
      cpus = 25
      memory = '250 GB'
      time = '24h'
      clusterOptions = '-A cluster_account'
   }
   withLabel:compute_resources__minimal {
      cpus = 25
      memory = '250 GB'
   }
   withLabel:compute_resources__mem {
      cpus = 25
      memory = '250 GB'
   }
   withLabel:compute_resources__cpu {
      cpus = 25
      memory = '250 GB'
   }
   withLabel:compute_resources__report {
      maxForks = 2
      cpus = 25
      memory = '250 GB'
   }
   withLabel:compute_resources__24hqueue {
      time = '24h'
   }
   withLabel:'compute_resources__scenic.*' {
      cpus = 25
      memory = '250 GB'
      time = '24h'
      maxForks = 1
   }
   withLabel:compute_resources__scenic_grn {
      cpus = 25
      memory = '250 GB'
      time = '24h'
   }
   withLabel:compute_resources__scenic_cistarget {
      cpus = 25
      memory = '250 GB'
   }
   withLabel:compute_resources__scenic_aucell {
      cpus = 25
      memory = '250 GB'
   }
   withLabel:'compute_resources__scenic_multiruns.*' {
      cpus = 4
      memory = '60 GB'
      time = '24h'
   }
   withLabel:compute_resources__scenic_multiruns_motifs2regulons {
      memory = '250 GB'
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   cacheDir = '/mnt/Citosina/amedina/ssalazar/meta/combined/regulons/singularity'
   runOptions = '--cleanenv -H $PWD -B ${HOME}'
}
